{{js '/js/index.js'}}

<div class="container text-center">
  <h1 class="mt-5">URL Shortener</h1>
  <div class="row justify-content-center mt-5">
    <i class="fas fa-link fa-10x " style="color: Dodgerblue;"></i>
  </div>

  <form class="row justify-content-center needs-validation mt-5" action="/" method="POST" novalidate>
    <div class="col-8">
      <input class="form-control" type="url" name="url" id="url" placeholder="input URL here" required>
      <div class="invalid-feedback text-left">
        請輸入符合http格式的網址
      </div>
    </div>
    <button class="col-5 btn btn-outline-primary mt-3" type="submit">Shorten</button>
  </form>


</div>